<extend name="Base/common"/>

<block name="head">
<!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
<!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>


<block name="body">
<div class="container-fluid">
    <!--banner-->
    <div class="banner">
        <img src="__IMG__/banner.png">
    </div>
    <!--信息通知-->
    <div class="cast">
        &nbsp;<img style="margin-left: 5px" src="__IMG__/xiaolaba1.png"><span style="margin-left: 5px">更优质的直播体验,我们解决了关于IOS版本的部分Bug</span>
    </div>
    <!--按钮-->
    <div class="bn bn1">
        <a href="../Product/approve.html"><button class="btn btn-default pull-left">创建直播间(基础版)</button></a>
        <a href="../Product/approve.html"><button class="btn btn-default pull-right">创建直播间(专业版)</button></a>
    </div>
    <!--平台介绍-->
    <div class="func func1">
        &nbsp;&nbsp;平台介绍
    </div>
    <div class="text text3">
        <ol>
            <li>赏金制度,如何分配?如何表现?</li>
            <li>关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于度关于赏金制度关于赏金制度关赏金制度</li>
            <li>赏金制度,如何分配?如何表现?</li>
            <li >关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于度关于赏金制度关于赏金制度关赏金制度</li>
        </ol>
    </div>

</div>

</block>

<block name="footer">
<!-- 这里放置需要在公共footer中追加的代码 -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" style="border-bottom: none;">
            <a href="../Product/topics.html"><div class="pull-left topic"><p>精选话题</p></div></a>
            <a href="../Product/function_Introduction.html"><div class="pull-right function"><p>功能介绍</p></div></a>
        </div>
    </nav>

</block>