<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--赞赏功能关闭-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
    <div class="container-fluid">
        <!--赞赏功能关闭状态-->
        <div class="tab" id="tab">
            <a href="open_admire.html">
                <div class="pull-left">开启赞赏功能</div>
                <div class="pull-right clo" style="padding: 18px">已关闭<img src="__IMG__/kaiqiguanbi2.png"></div>
            </a>
        </div>

    </div>


</block>
