<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--设置背景-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
    <div class="container-fluid">
        <!--背景设置-->
        <div class="bg-box">
            <div class="bg">
                <div class="ph">
                    <img src="__IMG__/mao.png">
                    <h4>直播间名称</h4>
                </div>
                <div class="attention pull-right">
                    <img src="__IMG__/shoucang.png">粉丝:<span>120</span>人
                </div>
                <div class="bn">
                    <div class="pull-left">
                        <button class="btn btn-default">查看二维码</button>
                    </div>
                    <div class="pull-right">
                       <button class="btn btn-default ">设置直播间</button>
                    </div>
                </div>
                <div class="tex" style="padding-top: 0">
                    <p>直播间介绍:<span>很好玩哦,大家来体验一把</span></p>
                </div>
                <div class="checkbox">
                    <label>
                        <input style="width: 20px;height: 20px" type="checkbox">
                    </label>
                </div>

            </div>

        </div>
        <!--背景设置-->
        <div class="bg-box">
            <div class="bg">
                <div class="ph">
                    <img src="__IMG__/mao.png">
                    <h4>直播间名称</h4>
                </div>
                <div class="attention pull-right">
                    <img src="__IMG__/shoucang.png">粉丝:<span>120</span>人
                </div>
                <div class="bn">
                    <div class="pull-left">
                        <button class="btn btn-default">查看二维码</button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-default ">设置直播间</button>
                    </div>
                </div>
                <div class="tex" style="padding-top: 0">
                    <p>直播间介绍:<span>很好玩哦,大家来体验一把</span></p>
                </div>
                <div class="checkbox">
                    <label>
                        <input style="width: 20px;height: 20px"  type="checkbox">
                    </label>
                </div>

            </div>

        </div>
    </div>
</block>
