<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--话题数量->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
<div class="container-fluid">
    <!--名片介绍-->
    <div class="top-box">
        <div class="top">
            <div class="ph">
                <img src="__IMG__/mao.png">
                <h4>穿鞋子的猫</h4>
            </div>
            <div class="per pe">
                <button>总收益&nbsp;:<span>600</span>元</button>
            </div>
            <p>往期话题收益</p>
        </div>

    </div>
    <div class="num-one">
        <!--历史直播话题-->
        <div class="media med me" style="border-top: none">
            <div class="media-left">
                <a href="playing.html">
                <img class="media-object" src="__IMG__/jingxuna.png">

                <div class="one">&nbsp;<span>已结束</span></div>
                    </a>
                <!--<div class="two"><span>200正在参加</span>&nbsp;</div>-->
            </div>
            <div class="media-body">
                <h3 class="media-heading">道德对于我们有多重要?<span>已结束</span></h3>

                <p><img src="__IMG__/shizhong.png"><span>2016-10-11</span><span>14:11:18</span><span
                        class="money">收益:200元</span></p>

                <p>简介:道德对于我们有多重要</p>
                <button class="btn btn-default btn-1 btn3 btn4">删除直播</button>
            </div>
        </div>
        <!--历史直播话题-->
        <div class="media med">
            <div class="media-left">
                <a href="playing.html">
                <img class="media-object" src="__IMG__/jingxuna.png">

                <div class="one">&nbsp;<span>直播中</span></div>
                    </a>
                <!--<div class="two"><span>200正在参加</span>&nbsp;</div>-->
            </div>
            <div class="media-body">
                <h3 class="media-heading">道德对于我们有多重要?<span>剩余:2天</span></h3>

                <p><img src="__IMG__/shizhong.png"><span>2016-10-11</span><span>14:11:18</span><span
                        class="money">收益:200元</span></p>

                <p>简介:道德对于我们有多重要</p>
                <button class="btn btn-default btn-1 btn3 btn4">删除直播</button>
            </div>
        </div>
    </div>
</div>
</block>
<block name="footer">
    <!-- 这里放置需要在公共footer中追加的代码 -->

</block>