<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>

<!--设置直播间名称-->
<block name="body">
    <div class="container-fluid on">
        <input type="text" class="form-control" placeholder="穿鞋的猫">
        <div class="num"  style="margin-top: 5px;">免费剩余次数:<span>2</span>次</div>
        <div class="bt">
            <button class="btn btn-default" >购买次数</button>
        </div>
    </div>

</block>
