<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--公众号链接-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
    <div class="container-fluid off">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="在此粘贴自己公众号的任意一篇文章的链接"></textarea>
            </div>
        </form>
        <div class="bt bt1">
            <button class="btn btn-default">提交</button>
        </div>
        <div class="text">
           <p>操作指南</p>
            <ol>
                <li>打开自己的公众号的任意一篇文章</li>
                <li>等文章加载完后,点击右上角菜单栏</li>
                <li>将复制的链接粘贴到上方的框中,点击确认即可</li>
                <li>在菜单栏中点击【复制链接】</li>

            </ol>
        </div>

    </div>


</block>
