<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
    <style>
        .text4 {
            margin-top: 20px !important;
        }
        .text4 li {
            list-style: none !important;
            color: #888888 !important;
            margin-top: 10px !important;
            margin-left: 0!important;
        }
    </style>
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--链接付费直播-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
    <div class="container-fluid">
        <div class="bg-box bg-1">
            <div class="bg">
                <div class="ph">
                    <img src="__IMG__/mao.png">
                    <h4>直播间名称</h4>
                </div>
                <div class="attention pull-right">
                    <img src="__IMG__/shoucang.png">粉丝:<span>120</span>人
                </div>
                <div class="tex tex1">
                    <p>直播间介绍:<span>很好玩哦,大家来体验一把</span></p>
                </div>
            </div>

        </div>
        <div class="text text4">
            <ol>
                <li><img src="__IMG__/shizhong.png" style="width: 7%;margin-right: 8px;">开始时间 <span>2016-10-21</span>
                    <span>14:11:12</span></li>
                <li><img src="__IMG__/huati3.png" style="width: 8%;margin-right: 7px">直播话题:<span>道德对我们多重要</span>
                </li>
                <li><img src="__IMG__/piaojia.png" style="width: 7%;margin-right: 10px">票价:<span>20元</span><a
                        href="#"><img src="__IMG__/quzhifu.png" style="width: 20%;margin-left: 10px"></a></li>
                <li><img src="__IMG__/jieshao.png" style="width: 6%;margin-right: 12px">话题介绍:<span>来吧来吧,大家一起来</span>
                </li>

            </ol>
        </div>
        <!--创建话题-->
        <div class="bt bt6">
            <button class="btn btn-default">进入直播间</button>
        </div>

    </div>
</block>
