<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--个人中心-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
    <div class="container-fluid">
        <!--名片介绍-->
        <div class="top-box">
            <div class="top">
                <div class="ph">
                    <img src="__IMG__/mao.png">
                    <h4>穿鞋子的猫</h4>
                </div>
                <div class="inf">
                    <h3>头像,用户名为默认信息,无法修改</h3>
                </div>
                <div class="per">
                    <h3>总浏览量&nbsp;:<span>20</span></h3>
                </div>
            </div>

        </div>
        <!--赞赏-->
        <a href="topics_num.html">
            <div class="tab tab6" style="border: none">

                <div class="pull-left" style="padding: 10.5px 20px 10.5px"><img style="width: 32%"
                                                                                src="__IMG__/xinxi.png">&nbsp;&nbsp;话题数量
                </div>
                <div class="pull-right clo" style="padding: 24px;"><img style="width: 6px;padding-top: 3px"
                                                                        src="__IMG__/jiantou.png"></div>

            </div>
        </a>
        <a href="individual_income.html">
            <div class="tab tab6" id="tab">

                <div class="pull-left" style="padding: 10.5px 20px 10.5px"><img style="width: 26%"
                                                                                src="__IMG__/qian.png">&nbsp;&nbsp;个人赞赏收益
                </div>
                <div class="pull-right clo" style="padding: 24px;"><img style="width: 6px;padding-top: 3px"
                                                                        src="__IMG__/jiantou.png"></div>

            </div>
        </a>
        <!--间隔-->
        <div class="jia">
        </div>
        <div class="bt bt5">
            <a href="pay_answer.html">
                <button class="btn btn-default">开启咨询功能</button>
            </a>
        </div>
        <!--回答内容-->
        <div class="ans">
            <a href="#">
                <div class="al">全部回答</div>
            </a>

            <div class="ge">|</div>
            <a href="#">
                <div class="dai">待回答</div>
            </a>
        </div>

        <div class="text text1 text2">
            <ol>
                <li class="one"><img src="__IMG__/wen.png">&nbsp;赏金制度,如何分配?如何表现? <span>2016-10-16</span></li>
                <li class="two"><img src="__IMG__/da.png">&nbsp;关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于赏金制度</li>
            </ol>
        </div>
        <div class="text text1 text2" style="    margin-bottom: 62px!important;">
            <ol>
                <li class="one"><img src="__IMG__/wen.png">&nbsp;赏金制度,如何分配?如何表现? <span>2016-10-16</span></li>
                <li class="two"><img src="__IMG__/da.png">&nbsp;关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于赏金制度关于赏金制度</li>
            </ol>
        </div>
    </div>


</block>

<block name="footer">
    <!-- 这里放置需要在公共footer中追加的代码 -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" style="border-bottom: none;">
            <a href="play_room.html">
                <div class="pull-left one"><p>直播间</p></div>
            </a>
            <a href="personal_center.html">
                <div class="pull-right two"><p>个人中心</p></div>
            </a>
        </div>
    </nav>
</block>