<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--设置页面-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
    <div class="container-fluid">
        <div class="tab">
            <a href="name.html">
                <div class="pull-left">直播间名称</div>
                <div class="pull-right">穿鞋子的猫&nbsp;<img style="width: 6px;padding-top: 3px" src="__IMG__/jiantou.png"></div>
            </a>
        </div>
        <div class="tab">
            <a href="#">
                <div class="pull-left">直播间图标</div>
                <div class="pull-right" style="padding: 10px 20px"><span
                        style="float: right;line-height: 40px;">&nbsp;</span><img style="width: 50%;height: auto;"
                                                                        src="__IMG__/mao.png"></div>
            </a>
        </div>
        <div class="tab">
            <a href="#">
                <div class="pull-left">直播间介绍</div>
                <div class="pull-right">哈哈哈&nbsp;</div>
            </a>
        </div>
        <div class="tab">
            <a href="bg_color.html">
                <div class="pull-left">直播间背景</div>
                <div class="pull-right" style="padding: 23px"><img style="width: 6px;padding-top: 3px" src="__IMG__/jiantou.png"></div>
            </a>
        </div>
        <div class="tab">
            <a href="official_accounts.html">
                <div class="pull-left">关联公众号</div>
                <div class="pull-right" style="padding: 23px"><img style="width: 6px;padding-top: 3px" src="__IMG__/jiantou.png"></div>
            </a>
        </div>
        <div class="tab">
            <a href="invite.html">
                <div class="pull-left">管理员</div>
                <div class="pull-right" style="padding: 8.6px 20px"><span style="float: right;line-height: 40px;">&nbsp;<img style="width: 6px;padding-top: 14px" src="__IMG__/jiantou.png"></span><img style="width: 50%;height: auto;"
                                                                        src="__IMG__/mao.png"></div>
            </a>
        </div>
        <div class="tab">
            <a href="approve.html">
                <div class="pull-left">直播间认证</div>
                <div class="pull-right" style="padding: 23px"><img style="width: 6px;padding-top: 3px" src="__IMG__/jiantou.png"></div>
            </a>
        </div>
        <div class="tab" id="tab">
            <a href="admire.html">
                <div class="pull-left">赞赏功能</div>
                <div class="pull-right">开启&nbsp;<img style="width: 6px;padding-top: 3px" src="__IMG__/jiantou.png"></div>
            </a>
        </div>
        <div class="bt bt-one" style="margin-bottom: 16px">
            <a href="play_room.html"><button class="btn btn-default">返回直播间</button></a>
        </div>
    </div>


</block>