<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--分享-->
<block name="body">
    <!--这里放置正文代码-&#45;&#45;index-->
<div class="container-fluid cont">
    <div class="tab ta gb">
        <a href="share.html">
            <div class="pull-left">邀请管理员</div>
            <div class="pull-right">></div>
        </a>
    </div>
    <div class="tab ta bg1">
        <a href="#">
            <div class="pull-left">直播间管理员</div>
        </a>
    </div>
    <div class="tab ta bg2">
        <a href="#">
            <div class="pull-left pul"><img src="__IMG__/mao.png"></div>
            <div class="pull-left pu">穿鞋子的猫&nbsp;&nbsp;<span>直播间房主</span></div>
        </a>
    </div>
    <div class="tab ta bg2">
        <a href="#">
            <div class="pull-left pul"><img src="__IMG__/mao.png"></div>
            <div class="pull-left pu">穿鞋子的猫&nbsp;&nbsp;<span>直播间管理员</span></div>
        </a>
    </div>

    <div class="tab ta bg2" id="tab">
        <a href="#">
            <div class="pull-left pul"><img src="__IMG__/mao.png"></div>
            <div class="pull-left pu">穿鞋子的猫&nbsp;&nbsp;<span>直播间管理员</span></div>
        </a>
    </div>
</div>
<div class="share">
    <div class="sha">
        <h2>点击右上角按钮<img src="__IMG__/daonali.png"></h2>

        <div class="ico">
            <a href="#">
                <div class="pull-left"><img src="__IMG__/fenxiang.png"></div>
            </a>
            <a href="#">
                <div class="pull-right"><img src="__IMG__/pengyouquan.png"></div>
            </a>
        </div>
        <div class="text">
            <ol>
                <li>分享给微信好友</li>
                <li>邀请链接的有效期为30分钟</li>
                <li>一个链接只能邀请一个人</li>

            </ol>
        </div>
    </div>


</div>

</block>
