<extend name="Base/common"/>

<block name="head">
    <!-- 这里可以放一些需要在公共head中追加的代码,比如css代码,引入其他页面不需要的css文件,或者js文件 -->
</block>

<block name="header">
    <!-- 这里可以放一些需要在公共header中追加的代码 -->
</block>
<!--精选话题-->
<block name="body">
    <div class="container-fluid">
        <div class="media">
            <div class="media-left" >
                <a href="playing.html">
                <img class="media-object"  src="__IMG__/jingxuna.png">
                <div class="one">&nbsp;<span>直播中</span></div>
                <div class="two"><span>200正在参加</span>&nbsp;</div>
                    </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">道德对于我们有多重要?</h3>
                <p><img src="__IMG__/shizhong.png"><span>2016-10-11</span><span>14:11:18</span></p>
                <p>简介:道德对于我们有多重要</p>
                <a href="play_room.html"><button class="btn btn-default btn1" style="background-color: #ff6c60">进入直播间</button></a>
            </div>
        </div>
        <div class="media">
            <div class="media-left" >
                <a href="playing.html">
                <img class="media-object"  src="__IMG__/jingxuna.png">
                <div class="one">&nbsp;<span>直播中</span></div>
                <div class="two"><span>200正在参加</span>&nbsp;</div>
                    </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">道德对于我们有多重要?</h3>
                <p><img src="__IMG__/shizhong.png"><span>2016-10-11</span><span>14:11:18</span></p>
                <p>简介:道德对于我们有多重要</p>
                <a href="play_room.html"><button class="btn btn-default btn1" style="background-color: #ff6c60">进入直播间</button></a>
            </div>
        </div>
        <div class="media">
            <div class="media-left" >
                <a href="playing.html">
                <img class="media-object"  src="__IMG__/jingxuna.png">
                <div class="one">&nbsp;<span>直播中</span></div>
                <div class="two"><span>200正在参加</span>&nbsp;</div>
                    </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">道德对于我们有多重要?</h3>
                <p><img src="__IMG__/shizhong.png"><span>2016-10-11</span><span>14:11:18</span></p>
                <p>简介:道德对于我们有多重要</p>
                <a href="play_room.html"><button class="btn btn-default btn1" style="background-color: #ff6c60">进入直播间</button></a>
            </div>
        </div>
    </div>

</block>

<block name="footer">
    <!-- 这里放置需要在公共footer中追加的代码 -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container" style="border-bottom: none;">
            <a href="topics.html"><div class="pull-left chose"><p>精选话题</p></div></a>
            <a href="function_Introduction.html"><div class="pull-right function"><p>功能介绍</p></div></a>
        </div>
    </nav>

</block>